:root{
    --blue: #3150ff;
    --color:rgb(78, 78, 78);
    --pink:hotpink;
    --dm:'DM Serif Text', serif;
    --robo: 'Roboto', sans-serif;
    --sac :'Sacramento', cursive;
    --cook:  'Niconne', cursive;
}
.author{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 20px;
    max-width: 800px;
    width: 80%;
    margin: 50px auto;
}
.details{
    padding: 10px 20px;
}
.details a{
    color: var(--pink);
}
.title{
    font-size: 60px;
    font-family: var(--cook);
    color: var(--blue);
    margin: 0 0 20px;
}
.img img{
    object-fit: cover;
}
.img, .img img{
    height: 570px;
    width: 100%;
}
.para{
    margin: 20px 0;
    color: var(--color);
}

@media(max-width:530px){
    .author{
        grid-template-columns: 1fr;
    }
}