:root{
    --blue: #3150ff;
    --color:#44475a;
    --pink:hotpink;
    --dm:'DM Serif Text', serif;
    --robo: 'Roboto', sans-serif;
    --sac :'Sacramento', cursive;
    --cook:  'Niconne', cursive;
    --pink2:#ff79c6;
    --back:#282a36;
    --color2:#bd93f9;
    --back2:#44475a;
}
/* article styling */
article{
    max-width: 1000px;
    width: 90%;
    margin: 50px auto 100px;
    display: grid;
    grid-gap: 40px;
    grid-template-columns:2fr 300px;
}
/* aside */

aside .aside{
    border-left: solid 2px var(--blue);
}

/* title styling */
.title h1{
    font-size: 50px;
    color: var(--pink);
    font-family: var(--dm);
    max-width: 1000px;
    width: 90%;
    margin: 50px auto 50px;
}


/* adress styling */
.address{
    font-family: var(--dm);
    margin: 0 0 30px;
}
.address p{
    margin: 20px 0;
    font-size: 35px;
    color: var(--pink);
    font-family: var(--sac);
    text-align: center;
}
.address .img, .address .img img{
    width: 200px;
    height: 200px;
    margin: 10px auto;
    border-radius: 50%;
}
.address .img img{
    object-fit: cover;
}
.address li{
    list-style: none;
    padding-right: 5px;
    display: inline;
}
.address .icon{
    width: 30px;
    height: 30px;
}
.address ul{
    width: 240px;
    margin: 20px auto;
}
.address li a{
    text-decoration: none;
}
.info{
    color: grey;
    margin:0 0 50px;
}
.description{
    margin: 0 20px;
}


/* post tags styling */

main a{
    color: var(--pink);
}
main .post p{
    margin: 20px 0 40px;
    line-height: 40px;
    word-spacing: 3px;
    font-size: 16px;
    color: var(--color);
    text-align: justify;
}
main strong, main b{
    color: var(--pink); 
}
main h2{
    font-size: 35px;
    color: var(--blue);
    font-family: var(--dm);
    margin: 20px 0;
}
main h3{
    font-size: 25px;
    color: var(--blue);
    font-family: var(--dm);
    margin: 20px 0;
}

main section{
    margin: 20px 0;
    padding: 20px;
}
main section.code{
    background-color: var(--back);
    color: var(--pink2);
}
main section.result{
    background-color: var(--back2);
    color: var(--color2);
}
main blockquote{
    font-family: var(--cook);
    font-size: 30px;
    padding: 20px;
    color: rgb(161, 161, 161);
}
main .break{
    display: inline;
    margin-left: 20px;
}
main img{
    width: 100%;
    margin: 30px 0;
}
/* post */
.post ul{
    margin-left: 50px;
}
.post li{
    list-style: none;
}
.post li:before{
    content: '\0000BB';
    font-size: 30px;
    color: var(--pink);
    padding-right: 10px;
}


/* para list styling */

p.list:before {
    content: '#';
    font-size: 30px;
    margin-right: 10px;
    color: var(--pink);
}


/* Follow linik styling */
.follow_part ul, .post_links ul{
    margin-left: 50px;
}
.follow_part ul li, .post_links li{
    list-style: none;
}
.follow_part li:before { 
    /* content: '\002665'; */
    content: '\002661';
    font-size: 30px;
    margin-right: 10px;
    color: var(--blue);
}
.post_links li:before{
    content: '\002667';
    font-size: 30px;
    margin-right: 10px;
    color: var(--blue);
}
.follow_part h2, .post_links h2, .featured-post h2{
    font-family: var(--cook);
    font-weight: 100;
    color: var(--blue);
    margin: 20px 0;
    font-size: 35px;
}
.follow_part a img{
    margin-right: 10px;
}
.featured-post {
    padding: 20px;
}
.featured-post ul{
    margin-left: 20px;
}
.featured-post li{
    list-style: none;
}
.featured-post li::before{
    content: '\002661';
    padding-right: 10px;
    color: var(--blue);
    font-size: 25px;
}
.featured-post a, .follow_part a{
    text-decoration: none;
    color: var(--pink);
}
span.cmnt{
    color:#ffb86c;
}
@media(max-width:530px){
    article{
        grid-template-columns: 1fr;
    }
    .title h1{
        font-size: 36px;
    }
    main h2{
        font-size: 30px;
    }
    main h3{
        font-size: 25px;
    }
    main p{
        margin: 40px 0;
        line-height: 30px;
        word-spacing: 3px;
        font-size: 16px;
    }
    address p{
        margin: 10px 0;
    }
}